<h1>Statistics</h1>

<table id="stats" class="table">
	<tbody>
		<tr>
			<td>Players</td>
			<td><%= @bad_players.size + @good_players.size %></td>
		</tr>
		<tr>
			<td>good</td>
			<td><%= @good_players.size %></td>
		</tr>
		<tr>
			<td>bad</td>
			<td><%= @bad_players.size %></td>
		</tr>
	</tbody>
</table>