div#search {
	margin: 10px;
	margin-bottom: 30px;
	text-align: center;

	input {
		width: 90%;
		height: 30px;
		line-height: 30px;
		font-size: 24px;
	}

	a {
		padding: 5px 10px;
		height: 30px;
		line-height: 30px;
		font-size: 24px;

		text-decoration: none;
	}
}

ul#results {
	margin: 10px;
	list-style-type: none;
	padding: 0;

	li {
		font-size: 24px;
		line-height: 30px;
		margin: 10px;

		div.right {
			float: right;
		}
	}
}